# npm 包镜像
registry=https://registry.npmmirror.com

# electron 二进制镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# chromedriver、operadriver
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver

# node-sass
sass_binary_site=https://npmmirror.com/mirrors/node-sass

# node 源码包
disturl=https://npmmirror.com/mirrors/node

# python 镜像
python_mirror=https://npmmirror.com/mirrors/python